<div class="chart-container">

    <ngx-charts-bar-horizontal style="fill: grey;" [scheme]="colorScheme" [results]="resultados" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
</div>

<div *ngIf="seleccionado" class="container text-center">
    <div class="alert" role="alert">
        El juego {{ juegoSeleccionado.name }} tiene {{ juegoSeleccionado.value }} votos.
    </div>
</div>